{% extends 'layout.html.j2' %}

{% block body %}
    <div class='text'>
        <h2>Suceeded!</h2>

        <span>
            Your request was sucessfully sent. As soon as possible we will get 
            in touch with more instructions.
        </span>
    </div>
{% endblock %}
